.services-section {
    max-height: 55vh;
    width: 100%;
    padding: 5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(237, 17%, 21%);
    border-radius: 0 10rem 0 10rem;
    

    .circle-bg {
        height: 55vh;
        width: 100%;
        background: url(../images/bg-pattern-circles.svg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: center;
        z-index: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    h1, p {
        color: white;
        margin: 3rem 5rem;
    }

    h1 {
        font-weight: 700;
        font-size: 2.5rem;
    }

    p {
        line-height: 2;
        letter-spacing: 0.05rem;
    }
}